include requirements.txt
recursive-include rsmtool/notebooks *
prune rsmtool/notebooks/.ipynb_checkpoints
prune rsmtool/notebooks/comparison/.ipynb_checkpoints
prune rsmtool/notebooks/summary/.ipynb_checkpoints
