include requirements.txt
prune requirements.dev
recursive-include rsmtool/notebooks *
prune tests
prune rsmtool/notebooks/.ipynb_checkpoints
prune rsmtool/notebooks/comparison/.ipynb_checkpoints
prune rsmtool/notebooks/summary/.ipynb_checkpoints
